
body {

	max-width: 960px;
	margin-top: 0px;
	margin: auto;

	background-image: url("img/background.jpeg");
	background-repeat: no-repeat;
}

/* Company name */
/* ------------------------------------------------------------------------------------------------- */
header {

padding-top: 0.625em;
padding-bottom: 0.625em;

text-align: center;
color: #FFFFFF;
text-shadow: -0.03125em 0 #000000, 0 0.03125em #000000, 0.03125em 0 #000000, 0 -0.03125em #000000, -0.03125em -0.03125em #000000, -0.03125em 0.03125em #000000, 0.03125em -0.03125em #000000, 0.03125em 0.03125em #000000;

background-image: url("img/companylogoBG.jpg");
background-position: center;
background-size: 960px, auto,  cover;


font-family: "Berlin Sans Fb";
font-weight: 450;
font-size: 5em;
}


.menu{
	height: 30px;
	width: auto;
	border:0;
	display: block;
}
.dropbar {
    display: none;
    position: absolute;
    background-color: #AAAAAA;
    color:#FFFFFF;
    text-align: center;

    font-family: "Arial";
    font-size: 1em;
    text-decoration: none;
}

.drop:hover .dropbar {
    display: inline-block;
}

/* Grey nav bar */
/* ------------------------------------------------------------------------------------------------- */
ul{
	border:0.0625em solid #FFFFFF;
	background-color: #707070;

    text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li a {
    display:inline-block;
    padding: 0.3125em;

    text-decoration: none;
	color: #FFFFFF;
    font-family: "Arial";
    font-size: 2em;
}

.appear{
	display: none;
}

/* ------------------------------------------------------------------------------------------------- */
/*images & text*/

p{
	border:0.0125em solid #FFFFFF;
	background-color: #2699FB;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;

	text-align: center;
	color: #FFFFFF;
    font-family: "Arial";
    font-size: 5em;
}
.three{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.six{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.nine{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.ten{
	border:1em solid #FFFFFF;
	border-right: 0;
}
.eleven{
	border:1em solid #FFFFFF;
	border-right: 0;
}
.twelve{
	border:1em solid #FFFFFF;
}
img{
	float:left;
	display: block;
	object-fit: cover;
	background-color: #AAAAAA;

	padding:0.0625em;
	border:1em solid #FFFFFF;
	border-right: 0;
	border-bottom: 0;

    max-width:calc(33% - 20.3333333px);
    width: 100%;
    height: 200px;
}

/* ------------------------------------------------------------------------------------------------- */
/*footer*/

footer{
	border:0.03125em solid #FFFFFF;
	background-color: #000000;

	padding: 0.03125em;
	text-align: center;
	color: #FFFFFF;
    font-family: "Arial";
    font-size: 2em;
}


/* ------------------------------------------------------------------------------------------------- */
/*mobile*/
@media only screen and (max-width: 360px){
	.appear{
		display: block;
	}
	.delete{
		display: none;
	}
	
	.ten{
		border:1em solid #FFFFFF;
		border-bottom: 0;
	}
	.eleven{
		border:1em solid #FFFFFF;
		border-bottom: 0;
	}
	.twelve{
		border:1em solid #FFFFFF;
	}
	body{
		background: #707070;
	}

	header{
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		background-size: 360px ,auto,cover;

		text-shadow:none;
		font-size: 2em;
	}

	ul{
		text-align: left;
	}


	p{
		font-size: 2em;

		padding-top: 5px;
		padding-bottom: 5px;
	}

	img{
	float: none;
	border:1em solid #FFFFFF;
    border-bottom: 0;

    max-height: 170px;
    max-width:calc(100% - 36px);
    width: 100%;
	}

	footer{
		border:0;
		padding-top: 10px;
		padding-bottom: 15px;	

		font-size: 1em;
	}
}

/*tablet*/
@media only screen and (max-width: 960px) and (min-width: 361px){
.delete{
		display: none;
	}
.double{
	max-width:calc(50% - 26px);
}
.two{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.four{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.six{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.eight{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.ten{
	border:1em solid #FFFFFF;
	border-bottom: 0;
}
.eleven{
	border:1em solid #FFFFFF;
	border-right: 0;
}
.twelve{
	border:1em solid #FFFFFF;
}
.three{
	border:1em solid #FFFFFF;
	border-right: 0;
	border-bottom: 0;
}
.nine{
	border:1em solid #FFFFFF;
	border-right: 0;
	border-bottom: 0;
}

header{
	padding-top: 0.4em;
	padding-bottom: 0.4em;

}

li a{
	padding-top: 0.02em;
	padding-bottom: 0.02em;
	font-size: 1.5em
}

p {
	font-size: 4em
}

footer{
	border: 0;
}

}